<!DOCTYPE HTML>
<html>
<head>
  <title>Whiteboard</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <link href="/static/css/public.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/logout">Logout</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">
        <a href="/">Whiteboard</a>
      </h3>
    </div>

    <%= if @flash do %>
      <div class="alert alert-warning">
        <h4>Error</h4>
        <p><%= @flash %></p>
      </div>
    <% end %>

    <%= content_for(:template) %>

    <div class="footer">
      <p>&copy; 2014 Spike Grobstein</p>
    </div>
  </div>
</body>
</html>

