body {
  margin: 0; padding: 0;
  background-color: #ddd;
  height: 100%;
}

canvas#whiteboard {
  float: left;
  background-color: #fff;
}

#info {
  float: left;
  margin-left: 10px;
  white-space: pre;
}

