body {
  margin: 0; padding: 0;
  background-color: white;
  height: 100%;
}

canvas#whiteboard {
  float: left;
  background-color: #fff;
}

#controls {
  position: absolute;
  background-color: #ddd;
  padding: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}
