<!DOCTYPE HTML>
<html>
<head>
  <title>Whiteboard</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3>Welcome to Whiteboard :)</h3>
  <form action="/static/index.html">
    <label>Nick:</label>
    <input type="text" name="user" value="anon" />

    <input type="submit" />
  </form>
</body>
</html>
