<!DOCTYPE HTML>
<html>
<head>
  <title>Whiteboard</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3>Welcome to Whiteboard :)</h3>
  <form method="post" action="/whiteboard">
    <div>
      <label>Nick:</label>
      <input type="text" name="user" value="anon" />
    </div>

    <div>
      <label>Whiteboard:</label>
      <input type="text" name="whiteboard-name" value="shared" />
    </div>

    <input type="submit" />
  </form>
</body>
</html>
