<!DOCTYPE HTML>
<html>
<head>
  <title>Whiteboard</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <link href="/static/css/public.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">Whiteboard</h3>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <h3>Sign up for an account</h3>
    </div>

    <%= if @flash do %>
      <div class="alert alert-warning">
        <h4>Error signing up.</h4>
        <p><%= @flash %></p>
      </div>
    <% end %>

    <form method="post" action="/sign-up" role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="email" value="" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10">
          <input class="form-control" type="password" name="password" value="" />
        </div>
      </div>

      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default"/>
      </div>
    </form>
  </div>
</body>
</html>
