<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <meta name="viewport" content="minimal-ui">

  <link rel="stylesheet" type="text/css" href="/static/whiteboard.css" />
</head>
<body>

  <canvas id="whiteboard" width="500" height="500">
    no support
  </canvas>

  <div id="status-message"></div>

  <div id="control-box">
    <div id="control-box-bar">
      <a href="#show-controls" id="control-box-button">|||</a>
    </div>

    <div id="control-container" style="display: none">

      <div id="message"></div>
      <form id="form" >
        <div id="pen-colors"></div>
        <div>
          <label>Color: </label>
          <input type="text" id="pen-color-input" name="penColor" value="#FF0000" size="6" />
        </div>

        <div>
          <label>Width:</label>
          <input type="text" id="pen-width-input" name="penWidth" value="4" size="6" />
        </div>

        <h3>Users</h3>
        <ul id="user-list"></ul>
      </form>

    </div>
  </div>

  <div style="display: none">
    <img id="undefined-background" src="/static/img/undefined-background.png" alt="undefined" />
  </div>

  <script>
    var imports = [
          'sizzle.min',
          'message_bus',
          'whiteboard_client',
          'whiteboard',
          'userlist',
          'app'
        ],
        i = 0;

    // import everything
    for ( i in imports ) {
      i = imports[i] + '.js';

      document.write('<script src="/static/js/' + i + '"><\/script>');
    }
  </script>
</body>
</html>
